# Object files
*.o
*.ko
*obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Carpetas que no se suben
*bin
*vscode
*obj/Debug/net6.0
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/ProyectoX.assets.cache
obj/Debug/net6.0/ProyectoX.GeneratedMSBuildEditorConfig.editorconfig
bin/Debug/net6.0/ProyectoX.dll
bin/Debug/net6.0/ProyectoX.pdb
bin/Debug/net6.0/ProyectoX.dll
bin/Debug/net6.0/ProyectoX.pdb
bin/Debug/net6.0/ProyectoX.staticwebassets.runtime.json
obj/project.assets.json
obj/project.nuget.cache
obj/ProyectoX.csproj.nuget.dgspec.json
obj/ProyectoX.csproj.nuget.g.props
obj/Debug/net6.0/ProyectoX.assets.cache
obj/Debug/net6.0/ProyectoX.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ProyectoX.dll
obj/Debug/net6.0/ProyectoX.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ProyectoX.genruntimeconfig.cache
obj/Debug/net6.0/ProyectoX.pdb
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
