@{
    ViewData["Title"] = "Categorias";
}


<!-- Modal -->
<div class="modal fade" id="ModalCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Categoría</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="CategoriaID" value="0" />
                <div>
                    <label class="control-label text-light">Nombre</label>
                    <input type="text" class="form-control" id="Descripcion" autocomplete="off" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="GuardarCategoria()" class="btn btn-dark text-light">Guardar
                    cambios</button>
            </div>
        </div>
    </div>
</div>


<div>
    <h1 class="display-4">Categorías</h1>

    <!-- Search bar -->

    <!-- Button trigger modal -->
    <div class="mb-2">
        <button type="button" onclick="VaciarFormulario()" class="btn btn-dark" data-bs-toggle="modal"
            data-bs-target="#ModalCategoria">
            Nueva
        </button>
    </div>
    <table
        class="table table-bordered table-striped table-condensed glass-bg table-responsive table-rounded table-hover">
        <thead>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control rounded-pill glass-bg" id="busqueda" placeholder="Buscar...">
                    <span class="input-group-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
            <tr>
                <th class="text-white col-sm-10">Descripción</th>
                <th class="text-light text-center col-sm-2">Acciones</th>
            </tr>
        </thead>
        <tbody id="tbody-categorias">
        </tbody>
    </table>
</div>


@section Scripts{
    <script src="~/js/categoria-1.0.0.js"></script>
}
