@{
    ViewData["Title"] = "Categorias";
}


<!-- Modal -->
<div class="modal fade" id="ModalCategoria" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Categoría</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="CategoriaID" value="0" />
                <div>
                    <label class="control-label text-light" for="Descripcion">Nombre</label>
                    <input type="text" class="form-control" id="Descripcion" name="Descripcion" autocomplete="off"
                        oninput="this.value = this.value.toUpperCase()" style="text-transform: uppercase;"
                        data-val="true" data-val-required="La descripción es obligatoria." data-val-length-max="50"
                        data-val-length="La descripción no puede tener más de 50 caracteres." />
                    <div class="text-danger" id="DescripcionError"></div>
                    <span class="field-validation-valid text-danger" data-valmsg-for="Descripcion"
                        data-valmsg-replace="true"></span>
                </div>

            </div>
            <div class="modal-footer">
                <button id="guardar-cambios-btn" type="button" onclick="GuardarCategoria()"
                    class="btn btn-dark text-light">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-light">
                <p>¿Estás seguro que deseas eliminar esta categoría?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirm-delete-btn">Eliminar</button>
            </div>
        </div>
    </div>
</div>



<div>
    <h1 class="display-4">Categorías</h1>

    <!-- Search bar -->

    <!-- Button trigger modal -->
    @if (User.Identity.IsAuthenticated)
    {
        <div class="mb-2">
            <button type="button" onclick="VaciarFormulario()" class="btn btn-dark" data-bs-toggle="modal"
                data-bs-target="#ModalCategoria">
                Nueva
            </button>
        </div>
    }
    <table
        class="table table-bordered glass-bg">
        <thead>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control rounded-pill glass-bg" id="busqueda" placeholder="Buscar...">
                    <span class="input-group-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
            <tr class="text-center">
                <th class="text-white col-sm-10">Categoría</th>
                <th class="text-light text-center col-sm-2">Acciones</th>
            </tr>
        </thead>
        <tbody id="tbody-categorias">
        </tbody>
    </table>
</div>


@section Scripts{
    <script src="~/js/categoria-1.0.0.js"></script>
    <script>
        // fondo de inicio random
        var randomNum = Math.floor(Math.random() * 3) + 1;
        document.body.style.backgroundImage = "url('css/" + randomNum + ".jpg')";
    </script>
}
