@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Documentación: <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
  <div class="col-sm-6">
    <a href="/Categorias" class="card text-white mb-3">
      <div class="card-body">
        <h5 class="card-title display-3">Categorias</h5>
        <p class="card-text">Administre las categorias de productos.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6">
    <a href="/Productos" class="card text-white mb-3">
      <div class="card-body">
        <h5 class="card-title display-3">Productos</h5>
        <p class="card-text">Administre los productos.</p>
      </div>
    </a>
  </div>
</div>
