@{
    ViewData["Title"] = "Inicio";
}

<div class="card text-center">
    <h1 class="display-1 col-md-6">Bienvenido</h1>
    <p class="col-md-6">Documentación: <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-4">
    <a href="/Categorias" class="card text-white mb-3">
      <div class="card-body">
        <h1 class="card-title">Categorias</h1>
        <p class="card-text">Administre las categorias de productos.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-4">
    <a href="/Productos" class="card text-white mb-3">
      <div class="card-body">
        <h1 class="card-title">Productos</h1>
        <p class="card-text">Administre los productos.</p>
      </div>
    </a>
  </div>
<div class="col-sm-6 col-md-6 col-lg-4">
    <a href="/Servicios" class="card text-white mb-3">
      <div class="card-body">
        <h1 class="card-title">Servicios</h1>
        <p class="card-text">Administre los Servicios.</p>
      </div>
    </a>
  </div>
</div>

<script>
// fondo de inicio random
 var randomNum = Math.floor(Math.random() * 3) + 1;
 document.body.style.backgroundImage = "url('css/" + randomNum + ".jpg')";
</script>

