html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: 60px;
  min-height: 100%;
  background: url(1.jpg);
  background-color: rgb(36, 36, 36);
  background-size: cover;
}

a {
  text-decoration: none;
}

.card,
.glass-bg {
  background-color: #ffffff13;
}

.card {
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px 30px 50px 30px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.card:hover {
  background-color: #ffffff1c;
  filter: saturate(1.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: background-color 0.3s ease-in-out;
}

.glass-bg {
  background-color: rgba(255, 255, 255, 0.075);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in;
}

.glass-bg:hover {
  filter: saturate(1.2);
}



.form-floating {
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-control,
.input-group-text,
.form-control:disabled,
.form-control[readonly] {
  background-color: #ffffff67;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #ffffff67;
}

.nav-pills .nav-link {
  color: #e4e3e3;
}

.text-left,
.text-center,
.titulo,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: antiquewhite;
}

a:hover {
  color: rgb(252, 244, 233);
}

.navbar-brand {
  font-weight: bold;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.26);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: flex;
  vertical-align: middle;
}

.btn-group>.btn-group:not(:first-child),
.btn-group>.btn:not(:first-child) {
  margin-left: 0px;
}

.btn-group .btn.editar {
  border-right: none;
}

.btn-group .btn.deshabilitar {
  border-left: none;
}

.btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #2f2f2f;
}

.btn-sm:hover {
  transform: scale(1.1);
  transition: 0.15s ease-in-out;
}


.table {
  border-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: rgb(0, 0, 0) 0px 50px 200px;
  margin-bottom: 0;
  border-collapse: separate;
  border-spacing: 0 4px;
  --bs-table-striped-bg: rgba(78, 75, 75, 0.3);
}

.table>tbody>tr {
  transition: background-color 0.3s ease-in-out;
}

.table>tbody>tr:hover {
  background-color: rgba(0, 0, 0, 0.212);
}

.table-bordered> :not(caption)>*>* {
  border-width: 0 1px 0 0px;
}

.display-4 {
  font-weight: 600;
}

.input-group-addon {
  padding: 0 10px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-addon i {
  color: #aaa;
}

.rounded-pill {
  border-radius: 6px !important;
}


#busqueda::placeholder {
  color: rgb(230, 230, 230);
}

.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group>.btn-group:not(:first-child),
.btn-group>.btn:not(:first-child) {
  margin-left: 0px;
}

.alert-success {
  color: #ffffff;
  background-color: #ffffff4d;
  border-color: #ffffff;
}